*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: #e5e5fd;
    min-height: 100vh;
    border: 10px solid #1d1e4c;
}

.content{
    max-width: 900px;
    margin: 0 auto;
}

.topContent{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.topContent h1{
    font-size: 50px;
    font-weight: bold;
    color: #1d1e4c;
    text-transform: uppercase;
}

.topContent h4{
    font-size: 30px;
    text-align: end;
}

.imageContent{
    border-radius: 50%;
    overflow: hidden;
}

.imageContent , img{
    height: 370px;
    width: 300px;
}

.aboutSection{
    margin-top: 50px;
}

.aboutSection h2{
    margin-bottom: 20px;
    font-size: 70px;
    font-weight: 400;
}

.aboutSection p{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.2px;
    text-align: justify;
}

.bioSection{
    margin: 50px 0;
}

.bioSection h3{
    margin-bottom: 20px;
}

.bioSection ul{
    margin-left: 50px;
}

.bioSection li{
    margin-top: 15px;
}

footer{
    margin: 50px 0;
}

footer p{
    text-align: end;
}
